<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition>
	<h:form id="formMenuApp">
		<!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
		<header class="logo-env">
			<!-- logo -->
			<div class="logo">
				<a href="index.html"> <h:graphicImage library="neon"
						name="img/logo.png" />
				</a>
			</div>
			<!-- logo collapse icon -->
			<div class="sidebar-collapse">
				<a href="#" class="sidebar-collapse-icon with-animation"> <i
					class="entypo-menu"></i>
				</a>
			</div>

			<!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
			<div class="sidebar-mobile-menu visible-xs">
				<a href="#" class="with-animation"> <!-- add class "with-animation" to support animation -->
					<i class="entypo-menu"></i>
				</a>
			</div>
		</header>


		<ul id="main-menu" class="main-menu">
			<!-- add class "multiple-expanded" to allow multiple submenus to open -->
			<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
			<li><a href="/app/"> <i class="entypo-home"></i> <span
					class="title">#{msj_commons.inicio}</span>
			</a></li>

			<ui:fragment
				rendered="#{authorizationChecker.isMember('Administradores')}">
				<li><a href="index.html"> <i class="entypo-users"></i> <span
						class="title">#{msj_commons.usuarios_sistema}</span>
				</a>
					<ul>
						<li><a href="/app/admin/usuarios/"> <span class="title">#{msj_commons.usuarios_sistema}
							</span>
						</a></li>
						<li><a href="/app/admin/usuarios/agregar.jsf"> <span
								class="title">#{msj_commons.agregar_usuario} </span>
						</a></li>
						<li><a href="/app/updatePassword.jsf"> <span
								class="title">#{msj_commons.actualizar_password} </span>
						</a></li>
					</ul></li>
			</ui:fragment>
			
			<ui:fragment
                    rendered="#{authorizationChecker.isMember('Administradores')}">
                <li><a href="index.html"> <i class="entypo-tools"></i> <span
                        class="title">#{msj_commons.facturacion}</span>
                </a>
                    <ul>
                        <li><a href="/app/admin/facturacion/"> <span
                                class="title">#{msj_commons.datos_facturador}</span>
                        </a></li>
                    </ul></li>
            </ui:fragment>
		</ul>
	</h:form>
</ui:composition>
</html>