<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/templates/basico.xhtml">
	<ui:define name="titulo">#{msj_commons.actualizar_password}</ui:define>
	<ui:define name="contenido_principal">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{userBean.redirectLoggedInUsersApp}" />
		</f:metadata>
		<p:outputPanel styleClass="panelRegistroUsuarioAcademicRuncode"
			id="panelRegistroUsuarioAcademicRuncode">
			<ui:fragment rendered="#{not userBean.estadoNuevoPassword}">
				<div class="login-container">
					<div class="login-header login-caret">
						<div class="login-content">
							<a href="#" class="logo"> <h:graphicImage
									styleClass="logo-emevasi" alt="#{msj_commons.sub_titulo}"
									library="neon" name="img/runcode.png" />
							</a>
							<p class="description">
								<a href="http://emevasi.com" target="_blank"
									style="color: white; font-weight: bold;">#{msj_commons.sub_titulo}</a>
							</p>
							<!-- progress bar indicator -->
							<div class="login-progressbar-indicator">
								<h3>43%</h3>
								<span>#{msj_commons.actualizar_password}</span>
							</div>
						</div>
					</div>
					<div class="login-progressbar">
						<div></div>
					</div>
					<div class="login-form">
						<div class="login-content">
							<h:form method="post" role="form" id="form_login">
								<h2>#{msj_commons.actualizar_password}</h2>
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon">
											<i class="entypo-key"></i>
										</div>
										<p:inputText id="passwordActual"
											value="#{userBean.passwordActual}" required="true"
											placeholder="Contraseña Actual"
											requiredMessage="Contraseña Actual Requerida"
											validatorMessage="La Contraseña digitada es incorrecta"
											styleClass="form-control">
										</p:inputText>
									</div>
									<p:message for="passwordActual" display="text"
										styleClass="alertCustom" />
								</div>
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon">
											<i class="entypo-key"></i>
										</div>
										<p:password id="password" match="confirmPassword"
											value="#{userBean.nuevoPassword}" required="true"
											feedback="true" placeholder="#{msj_commons.nuevo_password}"
											promptLabel="#{msj_commons.ingresar_contrasena}"
											weakLabel="#{msj_commons.contrasena_debil}"
											goodLabel="#{msj_commons.contrasena_buena}"
											strongLabel="#{msj_commons.contrasena_excelente}"
											requiredMessage="#{msj_commons.obligatorio_contrasena}"
											validatorMessage="#{msj_commons.contrasena_no_iguales}"
											styleClass="form-control"></p:password>

									</div>
									<p:message for="password" display="text"
										styleClass="alertCustom" />
								</div>
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon">
											<i class="entypo-key"></i>
										</div>
										<p:password id="confirmPassword"
											value="#{userBean.nuevoPassword}" required="true"
											placeholder="#{msj_commons.confirmar_nuevo_password}"
											requiredMessage="#{msj_commons.obligatorio_confirmar_password}"
											styleClass="form-control"></p:password>
									</div>
									<p:message for="confirmPassword" display="text"
										styleClass="alertCustom" />
								</div>
								<div class="form-group">
									<p:commandButton value="#{msj_commons.actualizar}"
										styleClass="btn btn-primary btn-block btn-login"
										action="#{userBean.actualizarPassword(1)}" update="@form" />
									<a href="/app/" class="btn btn-primary btn-block btn-login">#{msj_commons.cancelar}</a>

								</div>
							</h:form>
							<div class="login-bottom-links" style="font-size: 13px;">
								&copy; 2016 <strong> #{msj_commons.title} </strong> <span
									class="badge badge-success"> #{msj_commons.nro_version}</span>
								<br /> <a href="http://runcode.co" target="_blank">#{msj_commons.marca_runcode}</a>
							</div>
						</div>
					</div>
				</div>
			</ui:fragment>

			<ui:fragment rendered="#{userBean.estadoNuevoPassword}">
				<div class="login-container">
					<div class="login-header login-caret">
						<div class="login-content">
							<a href="index.html" class="logo"> <h:graphicImage
									library="neon" name="img/logo.png" />
							</a>
							<p class="description">#{msj_commons.sub_titulo}</p>
							<!-- progress bar indicator -->
							<div class="login-progressbar-indicator">
								<h3>43%</h3>
								<span>#{msj_commons.actualizar_password}</span>
							</div>
						</div>
					</div>
					<div class="login-progressbar">
						<div></div>
					</div>
					<div class="login-form">
						<div class="login-content">
							<h:form>
								<h2>#{msj_commons.password_actualizado}</h2>

								<p style="color: #51555d;">
									#{msj_commons.mensaje_password_actualizado}<br /> <strong>soporte@runcode.co</strong>
								</p>


								<div class="form-group">
									<p class="change_link">
										<a href="/app/" class="to_register" style="font-size: 20px;"><u>
												#{msj_commons.continuar} </u></a>
									</p>
									<div class="login-bottom-links" style="font-size: 13px;">
										&copy; #{msj_commons.year}  <strong> #{msj_commons.title} </strong> <span
											class="badge badge-success">
											#{msj_commons.nro_version}</span> <br /> <a
											href="http://runcode.co" target="_blank">#{msj_commons.marca_runcode}</a>
									</div>
								</div>
							</h:form>
						</div>
					</div>
				</div>
			</ui:fragment>
		</p:outputPanel>

	</ui:define>
</ui:composition>
</html>