<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition>
	<h:form id="formDatosFacturador">
		<div class="row">
            <div class="col-md-12">
                <p:outputPanel id="panelTblFacturadores">
	                <p:dataTable var="facturador" id="tblFacturadores"
	                        value="#{datosFacturadorBean.listFacturadores}"
	                        widgetVar="facturadoresWdg"
	                        filteredValue="#{datosFacturadorBean.listFacturadoresFiltrados}"
	                        rowIndexVar="index" sortMode="multiple"
	                        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
	                        currentPageReportTemplate="Registros {startRecord} a {endRecord} de {totalRecords}, Página {currentPage} de {totalPages}"
	                        rowsPerPageTemplate="25,50,75,100"
	                        emptyMessage="#{msj_commons.no_registros}" paginator="true"
	                        paginatorPosition="bottom" rows="25"
	                        style="height: 10px; margin-bottom:20px;font-size:12px;"
	                        styleClass="tblUsuariosClass">
	                        <f:facet name="header">
	                            #{msj_commons.datos_facturador}
	                        </f:facet>
	                        
	                        <p:column headerText="#{msj_commons.nit}"
                            toggleable="false" filterBy="#{facturador.nit}"
                            filterMatchMode="contains" filterStyleClass="cajaFiltroBusqueda"
                            sortBy="#{facturador.nit}" styleClass="centrado">
                            <h:outputText value="#{facturador.nit}"
                                styleClass="letraAzulOscuroRuncode" />
                            </p:column>
                            
                            <p:column headerText="#{msj_commons.num_resolucion}"
                            toggleable="false" filterBy="#{facturador.resolucion}"
                            filterMatchMode="contains" filterStyleClass="cajaFiltroBusqueda"
                            sortBy="#{facturador.resolucion}" styleClass="centrado">
                            <h:outputText value="#{facturador.resolucion}"
                                styleClass="letraAzulOscuroRuncode" />
                            </p:column>
                            
                            <p:column headerText="#{msj_commons.fch_resolucion}"
                            toggleable="false" filterBy="#{facturador.fchResolucion}"
                            filterMatchMode="contains" filterStyleClass="cajaFiltroBusqueda"
                            sortBy="#{facturador.fchResolucion}" styleClass="centrado">
                            <h:outputText value="#{facturador.fchResolucion}"
                                styleClass="letraAzulOscuroRuncode" />
                            </p:column>
                            
                            <p:column headerText="#{msj_commons.prefijo}"
                            toggleable="false" filterBy="#{facturador.prefijo}"
                            filterMatchMode="contains" filterStyleClass="cajaFiltroBusqueda"
                            sortBy="#{facturador.prefijo}" styleClass="centrado">
                            <h:outputText value="#{facturador.prefijo}"
                                styleClass="letraAzulOscuroRuncode" />
                            </p:column>
                            
                            <p:column headerText="#{msj_commons.rango_desde}"
                            toggleable="false" filterBy="#{facturador.rangoDesde}"
                            filterMatchMode="contains" filterStyleClass="cajaFiltroBusqueda"
                            sortBy="#{facturador.rangoDesde}" styleClass="centrado">
                            <h:outputText value="#{facturador.rangoDesde}"
                                styleClass="letraAzulOscuroRuncode" />
                            </p:column>
                            
                            <p:column headerText="#{msj_commons.rango_hasta}"
                            toggleable="false" filterBy="#{facturador.rangoHasta}"
                            filterMatchMode="contains" filterStyleClass="cajaFiltroBusqueda"
                            sortBy="#{facturador.rangoHasta}" styleClass="centrado">
                            <h:outputText value="#{facturador.rangoHasta}"
                                styleClass="letraAzulOscuroRuncode" />
                            </p:column>
                            
                            <p:column headerText="#{msj_commons.clave_tecnica}"
                            toggleable="false" filterBy="#{facturador.claveTecnica}"
                            filterMatchMode="contains" filterStyleClass="cajaFiltroBusqueda"
                            sortBy="#{facturador.claveTecnica}" styleClass="centrado">
                            <h:outputText value="#{facturador.claveTecnica}"
                                styleClass="letraAzulOscuroRuncode" />
                            </p:column>
                            
                            <p:column headerText="#{msj_commons.fch_inicial_vigencia}"
                            toggleable="false" filterBy="#{facturador.fchInicialVigencia}"
                            filterMatchMode="contains" filterStyleClass="cajaFiltroBusqueda"
                            sortBy="#{facturador.fchInicialVigencia}" styleClass="centrado">
                            <h:outputText value="#{facturador.fchInicialVigencia}"
                                styleClass="letraAzulOscuroRuncode" />
                            </p:column>
                            
                            <p:column headerText="#{msj_commons.fch_final_vigencia}"
                            toggleable="false" filterBy="#{facturador.fchFinalVigencia}"
                            filterMatchMode="contains" filterStyleClass="cajaFiltroBusqueda"
                            sortBy="#{facturador.fchFinalVigencia}" styleClass="centrado">
                            <h:outputText value="#{facturador.fchFinalVigencia}"
                                styleClass="letraAzulOscuroRuncode" />
                            </p:column>
                            
                            <p:column headerText="#{msj_commons.fch_final_vigencia}"
                            toggleable="false" filterBy="#{facturador.fchFinalVigencia}"
                            filterMatchMode="contains" filterStyleClass="cajaFiltroBusqueda"
                            sortBy="#{facturador.fchFinalVigencia}" styleClass="centrado">
                            <h:outputText value="#{facturador.fchFinalVigencia}"
                                styleClass="letraAzulOscuroRuncode" />
                            </p:column>
                            
                            <p:column headerText="#{msj_commons.cert_ruta}"
                            toggleable="false" filterBy="#{facturador.certRuta}"
                            filterMatchMode="contains" filterStyleClass="cajaFiltroBusqueda"
                            sortBy="#{facturador.certRuta}" styleClass="centrado">
                            <h:outputText value="#{facturador.certRuta}"
                                styleClass="letraAzulOscuroRuncode" />
                            </p:column>
                            
                            <p:column headerText="#{msj_commons.cert_clave}"
                            toggleable="false" filterBy="#{facturador.certPwd}"
                            filterMatchMode="contains" filterStyleClass="cajaFiltroBusqueda"
                            sortBy="#{facturador.certPwd}" styleClass="centrado">
                            <h:outputText value="#{facturador.certPwd}"
                                styleClass="letraAzulOscuroRuncode" />
                            </p:column>
                            
                            <p:column headerText="#{msj_commons.facturas_ruta}"
                            toggleable="false" filterBy="#{facturador.facturasRuta}"
                            filterMatchMode="contains" filterStyleClass="cajaFiltroBusqueda"
                            sortBy="#{facturador.facturasRuta}" styleClass="centrado">
                            <h:outputText value="#{facturador.facturasRuta}"
                                styleClass="letraAzulOscuroRuncode" />
                            </p:column>
                            
                            <f:facet name="footer">
                            <p:spacer height="30" />
                            <p:outputPanel style="float:right">
                            </p:outputPanel>
                            <p:outputPanel style="float:left">
                                <p:outputLabel value="#{msj_commons.buscar_registros}" />
                                <p:inputText id="globalFilter"
                                    styleClass="cajaFiltroBusquedaGlobal"
                                    onkeypress="if (event.keyCode == 13) {PF('facturadoresWdg').filter(); return false; }"
                                    placeholder="#{msj_commons.ingrese_busqueda}" />
                                <p:commandButton id="limpiarFiltros" type="button"
                                    onclick="limpiarFiltrosBusquedaDataTable('facturadoresWdg')"
                                    value="#{msj_commons.limpiar_filtros}"
                                    style="float:right;font-weight: bold;margin-left:4px;"
                                    icon="ui-icon-trash" />
                            </p:outputPanel>
                        </f:facet>
                    </p:dataTable>
                </p:outputPanel>
            </div>
        </div>
	</h:form>
</ui:composition>
</html>