<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/templates/basico.xhtml">
	<ui:define name="titulo">#{msj_commons.error_sistema}</ui:define>
	<ui:define name="contenido_principal">
		<div class="login-container">
			<div class="login-header login-caret">
				<div class="login-content">
					<a href="#" class="logo"> <h:graphicImage
							styleClass="logo-emevasi" alt="#{msj_commons.sub_titulo}"
							library="neon" name="img/runcode.png" />
					</a>
					<p class="description">
						<a href="http://emevasi.com" target="_blank"
							style="color: white; font-weight: bold;">#{msj_commons.sub_titulo}</a>
					</p>
				</div>
			</div>
			<div class="login-progressbar">
				<div></div>
			</div>
			<div class="login-form">
				<div class="login-content">
					<h:form>
						<h1 style="font-size: 60px;">500!</h1>
						<h3>#{msj_commons.ocurrio_error}</h3>
						<h5>#{msj_commons.contacte_soporte}</h5>
						<div class="form-group">
							<p class="change_link">
								<a href="#{request.contextPath}/login.jsf"
									style="text-decoration: underline;">#{msj_commons.volver_sistema}</a>
							</p>
							<div class="login-bottom-links" style="font-size: 13px;">
								&copy; #{msj_commons.year} <strong> #{msj_commons.title} </strong> <span
									class="badge badge-success"> #{msj_commons.nro_version}</span>
								<br /> <a href="http://runcode.co" target="_blank">#{msj_commons.marca_runcode}</a>
							</div>
						</div>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>