.ui-widget, .ui-widget .ui-widget
{
    font-size: 90% !important;
}

h1{ 
    margin:5px 0px 5px 0px;     
    padding: 5px;
    text-align: left;
    background: #3F51B5;
    color: #C5CAE9;
    border:1px dashed #C5CAE9;  
}

h2{ 
    margin:10px 0px 10px 0px;   
    padding: 5px;
    text-align: left;
    background: #C5CAE9;
    color: #727272;
    border:1px dashed #333;
}

h3{ 
    margin:5px 0px 5px 0px;     
    padding: 5px;
    text-align: left;
    color: #727272;
    border:1px dashed #333;
}


.clear
{
    clear:both;
}

.text_line
{
    clear:both;
    padding-top: 15px;
}