<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/templates/neon.xhtml">

	<ui:define name="titulo">#{msj_commons.agregar_usuario}</ui:define>
	<ui:define name="contenido_principal">
		<h3>
			#{msj_commons.agregar_usuario} <small>#{msj_commons.title}</small>
		</h3>
		<br />
		<div data-collapsed="0" class="panel panel-primary">
			<div class="panel-body">
				<h:form styleClass="form-horizontal form-groups-bordered">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-3 control-label" for="field-1">#{msj_commons.nro_identificacion_gen}*</label>
								<div class="col-sm-7">
									<p:message for="nroIdentificacion" display="text"
										styleClass="alertCustom" />
									<p:inputText id="nroIdentificacion" required="true"
										value="#{agregarUsuarioBean.persona.nroIdentificacion}"
										placeholder="#{msj_commons.nro_identificacion}"
										requiredMessage="#{msj_commons.obligatorio_nro_identificacion}"
										styleClass="form-control">
									</p:inputText>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="field-1">#{msj_commons.primer_nombre}
									*</label>
								<div class="col-sm-7">
									<p:message for="primerNombre" display="text"
										styleClass="alertCustom" />
									<p:inputText id="primerNombre" required="true"
										value="#{agregarUsuarioBean.persona.primerNombre}"
										placeholder="#{msj_commons.primer_nombre}"
										requiredMessage="#{msj_commons.obligatorio_primer_nombre}"
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="field-1">#{msj_commons.segundo_nombre}</label>
								<div class="col-sm-7">
									<p:message for="segundoNombre" display="text"
										styleClass="alertCustom" />
									<p:inputText id="segundoNombre"
										value="#{agregarUsuarioBean.persona.segundoNombre}"
										placeholder="#{msj_commons.segundo_nombre}"
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="field-1">#{msj_commons.primer_apellido}
									*</label>
								<div class="col-sm-7">
									<p:message for="primerApellido" display="text"
										styleClass="alertCustom" />
									<p:inputText id="primerApellido" required="true"
										value="#{agregarUsuarioBean.persona.primerApellido}"
										placeholder="#{msj_commons.primer_apellido}"
										requiredMessage="#{msj_commons.obligatorio_primer_apellido}"
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="field-1">#{msj_commons.segundo_apellido}</label>
								<div class="col-sm-7">
									<p:message for="segundoApellido" display="text"
										styleClass="alertCustom" />
									<p:inputText id="segundoApellido"
										value="#{agregarUsuarioBean.persona.segundoApellido}"
										placeholder="#{msj_commons.segundo_apellido}"
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="field-1">#{msj_commons.correo_electronico}*</label>
								<div class="col-sm-7">
									<p:message for="correoElectronico" display="text"
										styleClass="alertCustom" />
									<p:inputText id="correoElectronico" required="true"
										value="#{agregarUsuarioBean.persona.correo}"
										placeholder="#{msj_commons.correo_electronico}"
										requiredMessage="#{msj_commons.obligatorio_correo_electronico}"
										validatorMessage="#{msj_commons.correo_invalido}"
										styleClass="form-control">
										<f:validator
											validatorId="co.runcode.web.utilities.EmailValidator" />
									</p:inputText>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="field-1">#{msj_commons.nombre_usuario}*</label>
								<div class="col-sm-7">
									<p:message for="nomUsuario" display="text"
										styleClass="alertCustom" />
									<p:inputText id="nomUsuario" required="true"
										value="#{agregarUsuarioBean.persona.usuario.nomUsuario}"
										placeholder="#{msj_commons.nombre_usuario}"
										requiredMessage="#{msj_commons.obligatorio_nomusuario}"
										validatorMessage="#{msj_commons.nom_usuario_invalido}"
										styleClass="form-control">
										<f:validator
											validatorId="co.runcode.web.utilities.UsernameValidator" />
									</p:inputText>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="field-1">#{msj_commons.nro_celular}</label>
								<div class="col-sm-7">
									<p:message for="nroCelular" display="text"
										styleClass="alertCustom" />
									<p:inputText id="nroCelular"
										value="#{agregarUsuarioBean.persona.nroCelular}"
										placeholder="#{msj_commons.nro_celular}"
										styleClass="form-control"></p:inputText>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-7">

									<p:commandButton value="#{msj_commons.cancelar}"
										styleClass="btn btn-primary" type="reset" update="@form" />
									<p:commandButton value="#{msj_commons.agregar}"
										styleClass="btn btn-success submit"
										action="#{agregarUsuarioBean.agregarUsuario}" update="@form" />
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label class="col-md-3 col-sm-3 col-xs-12 control-label">#{msj_commons.grupos_sistema}<br />
									<small class="text-navy">#{msj_commons.seleccione_grupos}</small>
								</label>
								<div class="col-md-9 col-sm-9 col-xs-12">
									<p:selectManyCheckbox id="grupos"
										value="#{agregarUsuarioBean.selectedGrupos}"
										layout="responsive" columns="1">
										<f:selectItems value="#{agregarUsuarioBean.grupos}"
											var="grupo" itemLabel="#{grupo}" itemValue="#{grupo}" />
									</p:selectManyCheckbox>
								</div>
							</div>
							<div class="ln_solid"></div>
							<div class="form-group">
								<label class="col-md-3 col-sm-3 col-xs-12 control-label">#{msj_commons.roles_sistema}
									<br /> <small class="text-navy">#{msj_commons.seleccione_roles}</small>
								</label>
								<div class="col-md-9 col-sm-9 col-xs-12">
									<p:selectManyCheckbox id="roles"
										value="#{agregarUsuarioBean.selectedRoles}"
										layout="responsive" columns="1">
										<f:selectItems value="#{agregarUsuarioBean.roles}" var="rol"
											itemLabel="#{rol}" itemValue="#{rol}" />
									</p:selectManyCheckbox>
								</div>
							</div>
						</div>

						<div class="clear"></div>
						<br />

					</div>
				</h:form>
			</div>
		</div>




	</ui:define>
</ui:composition>
</html>