<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/templates/neon.xhtml">
	<ui:define name="titulo">#{msj_commons.editar_usuario}</ui:define>

	<ui:define name="contenido_principal">

		<h3>
			#{msj_commons.editar_usuario} <small>#{msj_commons.title}</small>
		</h3>
		<br />
		<div data-collapsed="0" class="panel panel-primary">
			<div class="panel-body">
				<h:form styleClass="form-horizontal form-groups-bordered">
					<div class="row">

						<div class="col-md-2">
							<div>

								<!-- end of image cropping -->
								<div id="crop-avatar">
									<!-- Current avatar -->

									<h:graphicImage library="neon" name="img/user.png" alt="..."
										styleClass="img-responsive" />
									<!-- Cropping modal -->

								</div>
								<!-- end of image cropping -->

							</div>
							<h3>#{editarUsuarioBean.persona.primerNombre}
								#{editarUsuarioBean.persona.primerApellido}</h3>

							<br />
							<ul class="list-unstyled user_data">

								<li><span aria-hidden="true" data-toggle="tooltip"
									data-placement="right" title="#{msj_commons.nombre_usuario}"><i
										class="entypo-user"></i><strong>
											#{editarUsuarioBean.persona.usuario.nomUsuario}</strong></span></li>

								<li><span aria-hidden="true" data-toggle="tooltip"
									data-placement="right"
									title="#{msj_commons.correo_electronico}"><i
										class="entypo-mail"></i> #{editarUsuarioBean.persona.correo}</span></li>
								<li><span aria-hidden="true" data-toggle="tooltip"
									data-placement="right" title="#{msj_commons.celular}"><i
										class="entypo-phone"></i>
										#{editarUsuarioBean.persona.nroCelular}</span></li>
								<li><span aria-hidden="true" data-toggle="tooltip"
									data-placement="right" title="#{msj_commons.fecha_registro}"><i
										class="entypo-calendar"></i>
										#{editarUsuarioBean.persona.usuario.fechaRegistro}</span></li>
							</ul>
						</div>
						<div class="col-md-4">

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">#{msj_commons.nro_identificacion_gen}
									*</label>
								<div class="col-md-9 col-sm-9 col-xs-12">
									<p:message for="nroIdentificacion" display="text"
										styleClass="alertCustom" />
									<p:inputText id="nroIdentificacion" required="true"
										value="#{editarUsuarioBean.persona.nroIdentificacion}"
										placeholder="#{msj_commons.nro_identificacion}"
										requiredMessage="#{msj_commons.obligatorio_nro_identificacion}"
										styleClass="form-control">

									</p:inputText>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">#{msj_commons.primer_nombre}
									*</label>
								<div class="col-md-9 col-sm-9 col-xs-12">
									<p:message for="primerNombre" display="text"
										styleClass="alertCustom" />
									<p:inputText id="primerNombre" required="true"
										value="#{editarUsuarioBean.persona.primerNombre}"
										placeholder="#{msj_commons.primer_nombre}"
										requiredMessage="#{msj_commons.obligatorio_primer_nombre}"
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">#{msj_commons.segundo_nombre}
								</label>
								<div class="col-md-9 col-sm-9 col-xs-12">
									<p:message for="segundoNombre" display="text"
										styleClass="alertCustom" />
									<p:inputText id="segundoNombre"
										value="#{editarUsuarioBean.persona.segundoNombre}"
										placeholder="#{msj_commons.segundo_nombre}"
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">#{msj_commons.primer_apellido}
									*</label>
								<div class="col-md-9 col-sm-9 col-xs-12">
									<p:message for="primerApellido" display="text"
										styleClass="alertCustom" />
									<p:inputText id="primerApellido" required="true"
										value="#{editarUsuarioBean.persona.primerApellido}"
										placeholder="#{msj_commons.primer_apellido}"
										requiredMessage="#{msj_commons.obligatorio_primer_apellido}"
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">#{msj_commons.segundo_apellido}
								</label>
								<div class="col-md-9 col-sm-9 col-xs-12">
									<p:message for="segundoApellido" display="text"
										styleClass="alertCustom" />
									<p:inputText id="segundoApellido"
										value="#{editarUsuarioBean.persona.segundoApellido}"
										placeholder="#{msj_commons.segundo_apellido}"
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">#{msj_commons.correo_electronico}
									*</label>
								<div class="col-md-9 col-sm-9 col-xs-12">
									<p:message for="correoElectronico" display="text"
										styleClass="alertCustom" />
									<p:inputText id="correoElectronico" required="true"
										value="#{editarUsuarioBean.persona.correo}"
										placeholder="#{msj_commons.correo_electronico}"
										requiredMessage="#{msj_commons.obligatorio_correo_electronico}"
										validatorMessage="#{msj_commons.correo_invalido}"
										styleClass="form-control">
										<f:validator
											validatorId="co.runcode.web.utilities.EmailValidator" />
									</p:inputText>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">#{msj_commons.nombre_usuario}
									*</label>
								<div class="col-md-9 col-sm-9 col-xs-12">
									<p:message for="nomUsuario" display="text"
										styleClass="alertCustom" />
									<p:inputText id="nomUsuario" required="true" readonly="true"
										value="#{editarUsuarioBean.persona.usuario.nomUsuario}"
										placeholder="#{msj_commons.nombre_usuario}"
										requiredMessage="#{msj_commons.obligatorio_nomusuario}"
										validatorMessage="#{msj_commons.nom_usuario_invalido}"
										styleClass="form-control">
										<f:validator
											validatorId="co.runcode.web.utilities.UsernameValidator" />
									</p:inputText>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">#{msj_commons.nro_celular}
								</label>
								<div class="col-md-9 col-sm-9 col-xs-12">
									<p:message for="nroCelular" display="text"
										styleClass="alertCustom" />
									<p:inputText id="nroCelular"
										value="#{editarUsuarioBean.persona.nroCelular}"
										placeholder="#{msj_commons.nro_celular}"
										styleClass="form-control"></p:inputText>
								</div>
							</div>
						</div>
						<div class="col-md-4">


							<div class="form-group">
								<label class="col-md-3 col-sm-3 col-xs-12 control-label">#{msj_commons.grupos_sistema}<br />
									<small class="text-navy">#{msj_commons.seleccione_grupos}</small>
								</label>
								<div class="col-md-9 col-sm-9 col-xs-12">
									<p:selectManyCheckbox id="grupos"
										value="#{editarUsuarioBean.selectedGrupos}"
										layout="responsive" columns="1">
										<f:selectItems value="#{editarUsuarioBean.grupos}" var="grupo"
											itemLabel="#{grupo}" itemValue="#{grupo}" />
									</p:selectManyCheckbox>
								</div>
							</div>
							<div class="ln_solid"></div>
							<div class="form-group">
								<label class="col-md-3 col-sm-3 col-xs-12 control-label">#{msj_commons.roles_sistema}
									<br /> <small class="text-navy">#{msj_commons.seleccione_roles}</small>
								</label>
								<div class="col-md-9 col-sm-9 col-xs-12">
									<p:selectManyCheckbox id="roles"
										value="#{editarUsuarioBean.selectedRoles}" layout="responsive"
										columns="1">
										<f:selectItems value="#{editarUsuarioBean.roles}" var="rol"
											itemLabel="#{rol}" itemValue="#{rol}" />
									</p:selectManyCheckbox>
								</div>
							</div>
							<br />
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div style="float: left;">
								<ui:fragment
									rendered="#{not editarUsuarioBean.renderBotonesAccion}">

									<p:commandButton value="#{msj_commons.cancelar}"
										action="index.jsf" styleClass="btn btn-primary" update="@form" />
									<p:commandButton value="#{msj_commons.guardar_cambios}"
										styleClass="btn btn-success submit"
										action="#{editarUsuarioBean.guardarCambiosEdicion}"
										update="@form">
										<p:confirm header="#{msj_commons.confirmar_cambios}"
											message="#{msj_commons.confirmacion_operacion}"
											icon="ui-icon-alert" />
									</p:commandButton>


								</ui:fragment>
								<ui:fragment rendered="#{editarUsuarioBean.renderBotonesAccion}">
									<br />
									<a class="btn btn-primary" href="index.jsf">#{msj_commons.volver}</a>
								</ui:fragment>
							</div>
							<div style="float: left;">
								<ui:fragment rendered="#{editarUsuarioBean.estadoCuenta}">
									<p:commandButton value="#{msj_commons.bloquear_cuenta}"
										action="#{editarUsuarioBean.bloquearCuentaUsuario}"
										styleClass="btn btn-warning" update="@form">
										<p:confirm header="#{msj_commons.confirmar_cambios}"
											message="#{msj_commons.confirmar_bloquear_cuenta}"
											icon="ui-icon-alert" />
									</p:commandButton>
								</ui:fragment>
								<ui:fragment rendered="#{not editarUsuarioBean.estadoCuenta}">
									<p:commandButton value="#{msj_commons.activar_cuenta}"
										action="#{editarUsuarioBean.desbloquearCuentaUsuario}"
										styleClass="btn btn-warning" update="@form">
										<p:confirm header="#{msj_commons.confirmar_cambios}"
											message="#{msj_commons.confirmar_desbloquear_cuenta}"
											icon="ui-icon-alert" />
									</p:commandButton>
								</ui:fragment>
								<ui:fragment
									rendered="#{authorizationChecker.hasApplicationRole('SuperAdministrador')}">
									<p:commandButton value="#{msj_commons.eliminar_cuenta_usuario}"
										styleClass="btn btn-danger submit"
										action="#{editarUsuarioBean.eliminarUsuario}" update="@form">
										<p:confirm header="#{msj_commons.confirmar_cambios}"
											message="#{msj_commons.confirmacion_operacion}"
											icon="ui-icon-alert" />
									</p:commandButton>
								</ui:fragment>
								<ui:fragment
									rendered="#{authorizationChecker.hasApplicationRole('SuperAdministrador')}">
									<p:commandButton value="#{msj_commons.restablecer_contrasena}"
										styleClass="btn btn-info submit"
										action="#{editarUsuarioBean.restablecerContrasena}"
										update="@form">
										<p:confirm header="#{msj_commons.confirmar_cambios}"
											message="#{msj_commons.confirmacion_operacion}"
											icon="ui-icon-alert" />
									</p:commandButton>
								</ui:fragment>
							</div>
						</div>
					</div>
				</h:form>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>