<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<f:view>
	<h:head>
		<meta http-equiv="content-type"
			content="text/html; charset=iso-8859-1" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="refresh"
			content="#{facesContext.externalContext.sessionMaxInactiveInterval};url=#{request.contextPath}/login.jsf" />
		<link rel="shortcut icon" type="image/x-icon"
			href="#{request.contextPath}/resources/neon/1_0/img/favicon.ico" />
		<title>#{msj_commons.title} | <ui:insert name="titulo"></ui:insert></title>

		<!-- bootstrap -->
		<h:outputStylesheet library="neon" name="css/entypo.css" />
		<h:outputStylesheet library="neon" name="css/bootstrap.css" />
		<h:outputStylesheet library="neon" name="css/neon-core.css" />
		<h:outputStylesheet library="neon" name="css/neon-theme.css" />
		<h:outputStylesheet library="neon" name="css/neon-forms.css" />
<!-- 		<h:outputStylesheet library="neon" name="css/blue.css" /> -->
		<h:outputStylesheet library="neon" name="css/custom.css" />
		<h:outputStylesheet library="neon" name="css/white.css" />
		<h:outputStylesheet library="neon" name="css/custom-runcode.css" />


		<ui:insert name="bloque_estilos"></ui:insert>


	</h:head>
	<h:body styleClass="page-body login-page login-form-fall">


		<ui:insert name="contenido_principal"></ui:insert>

		<!-- Contenedor Notificacion Procesando Datos -->
		<div class="ui-growl ui-widget" id="divAjax">
			<div class="divProcensandoInformacion" id="divProcensandoInformacion">
				<h:graphicImage library="neon" name="img/loading.gif"
					styleClass="imgCentrada" />
				<p>
					<strong class="negrita" style="color: white;">#{msj_commons.procesando_datos}</strong>
				</p>
			</div>
		</div>

		<!-- Fondo ventana modal -->
		<div class="ui-widget-overlay ui-dialog-mask" id="divModalAlone"
			style="z-index: 1004; height: 100vh; background: #2d5972 none repeat !important; opacity: 0.4 !important;"></div>

		<p:ajaxStatus onstart="mostrarDivProcesamientoInformacion();"
			onsuccess="ocultarDivProcesamientoInformacion();" />
		<div class="clearfix"></div>


		<!-- Scripts Principales -->
		<h:outputScript name="jquery/jquery.js" library="primefaces" />
		<h:outputScript library="neon" name="js/main-gsap.js"></h:outputScript>
		<h:outputScript library="neon" name="js/bootstrap.js"></h:outputScript>
		<h:outputScript library="neon" name="js/joinable.js"></h:outputScript>
		<h:outputScript library="neon" name="js/resizeable.js"></h:outputScript>
		<h:outputScript library="neon" name="js/neon-api.js"></h:outputScript>
		<h:outputScript library="neon" name="js/jquery.validate.min.js"></h:outputScript>
		<h:outputScript library="neon" name="js/toastr.js"></h:outputScript>
		<h:outputScript library="neon" name="js/neon-custom.js"></h:outputScript>
		<h:outputScript library="neon" name="js/neon-demo.js"></h:outputScript>
		<h:outputScript library="neon" name="js/neon-notificaciones.js"></h:outputScript>
		<h:outputScript library="neon" name="js/neon-login.js"></h:outputScript>

		<!-- Custom Script -->
		<h:outputScript library="neon" name="js/customRuncode.js"></h:outputScript>



		<!--Bloque Scripts Principal  -->
		<ui:insert name="bloque_scripts"></ui:insert>

	</h:body>
</f:view>
</html>