<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<f:view>
	<h:head>
		<meta http-equiv="content-type"
			content="text/html; charset=iso-8859-1" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="refresh"
			content="#{facesContext.externalContext.sessionMaxInactiveInterval};url=#{request.contextPath}/login.jsf" />
		<link rel="shortcut icon" type="image/x-icon"
			href="#{request.contextPath}/resources/neon/1_0/img/favicon.ico" />
		<title>#{msj_commons.title} | <ui:insert name="titulo"></ui:insert></title>

		<!-- bootstrap -->
		<h:outputStylesheet library="neon" name="css/entypo.css" />
		<h:outputStylesheet library="neon" name="css/bootstrap.css" />
		<h:outputStylesheet library="neon" name="css/neon-core.css" />
		<h:outputStylesheet library="neon" name="css/neon-theme.css" />
		<h:outputStylesheet library="neon" name="css/neon-forms.css" />
		<!-- 		<h:outputStylesheet library="neon" name="css/blue.css" /> -->
		<h:outputStylesheet library="neon" name="css/custom.css" />
		<h:outputStylesheet library="neon" name="css/custom-runcode.css" />

		<ui:insert name="bloque_estilos"></ui:insert>


	</h:head>
	<h:body styleClass="page-body">

		<div class="page-container sidebar-collapsed">
			<!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

			<!-- Menú Principal -->
			<div class="sidebar-menu">
				<div class="sidebar-menu-inner">
					<ui:include src="/app/menu_app.xhtml" />
				</div>
			</div>
			<!-- end  Menú Principal -->

			<div class="main-content">

				<div class="row">

					<!-- Profile Info and Notifications -->
					<div class="col-md-6 col-sm-8 clearfix">

						<ul class="user-info pull-left pull-none-xsm">

							<!-- Profile Info -->
							<li class="profile-info dropdown">
								<!-- add class "pull-right" if you want to place this from right -->

								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<h:graphicImage library="neon" styleClass="img-circle"
										height="50px" name="img/user.png" />#{identity.account.firstName}
									#{identity.account.lastName}
							</a>

								<ul class="dropdown-menu">

									<!-- Reverse Caret -->
									<li class="caret"></li>

									<!-- Profile sub-links -->
									<li><a href="/app/updatePassword.jsf"> <i
											class="entypo-user"></i>#{msj_commons.actualizar_password}
									</a></li>
									<li><p:commandLink action="#{userBean.logout}">
											<i class="entypo-logout"></i>
											<h:outputText value="#{msj_commons.cerrar_sesion}" />
										</p:commandLink></li>
								</ul>
							</li>
						</ul>
					</div>
					<!-- Raw Links -->
					<div class="col-md-6 col-sm-4 clearfix hidden-xs">

						<ul class="list-inline links-list pull-right">

							<li class="sep"></li>

							<li><p:commandLink action="#{userBean.logout}">
									<i class="entypo-logout right"></i>
									<h:outputText value="#{msj_commons.cerrar_sesion}" />
								</p:commandLink></li>
						</ul>
					</div>
				</div>
				<hr />
				<ui:insert name="contenido_principal"></ui:insert>
				<!-- Footer -->
				<footer class="main"> &copy;#{msj_commons.year}<strong>
					#{msj_commons.title} </strong> <span class="badge badge-success">
					#{msj_commons.nro_version}</span> by <a href="http://runcode.co"
					target="_blank"> #{msj_commons.marca_runcode} </a> </footer>
			</div>
		</div>
		<!-- Contenedor Notificacion Procesando Datos -->
		<div class="ui-growl ui-widget" id="divAjax">
			<div class="divProcensandoInformacion" id="divProcensandoInformacion">
				<h:graphicImage library="neon" name="img/loading.gif"
					styleClass="imgCentrada" />
				<p>
					<strong class="negrita" style="color: #C6CAD2;">#{msj_commons.procesando_datos}</strong>
				</p>
			</div>
		</div>

		<!-- Fondo ventana modal -->
		<div class="ui-widget-overlay ui-dialog-mask" id="divModalAlone"
			style="z-index: 1004; height: 100vh; background: #2d5972 none repeat !important; opacity: 0.4 !important;"></div>

		<p:ajaxStatus onstart="mostrarDivProcesamientoInformacion();"
			onsuccess="ocultarDivProcesamientoInformacion();" />
		<div class="clearfix"></div>

		<!-- Contenedor Dialogo de Confirmación -->
		<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
			<p:commandButton value="#{msj_commons.aceptar}" type="button"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
			<p:commandButton value="#{msj_commons.cancelar}" type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		</p:confirmDialog>


		<!-- Scripts Principales -->
		<h:outputScript name="jquery/jquery.js" library="primefaces" />
		<h:outputScript library="neon" name="js/main-gsap.js"></h:outputScript>
		<h:outputScript library="neon" name="js/bootstrap.js"></h:outputScript>
		<h:outputScript library="neon" name="js/joinable.js"></h:outputScript>
		<h:outputScript library="neon" name="js/resizeable.js"></h:outputScript>
		<h:outputScript library="neon" name="js/neon-api.js"></h:outputScript>
		<h:outputScript library="neon" name="js/toastr.js"></h:outputScript>
		<h:outputScript library="neon" name="js/neon-custom.js"></h:outputScript>
		<h:outputScript library="neon" name="js/neon-demo.js"></h:outputScript>
		<h:outputScript library="neon" name="js/neon-notificaciones.js"></h:outputScript>

		<!-- Custom Script -->
		<h:outputScript library="neon" name="js/customRuncode.js"></h:outputScript>

		<!--Bloque Scripts Principal  -->
		<ui:insert name="bloque_scripts"></ui:insert>

	</h:body>
</f:view>
</html>