<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition>
	<h:form id="formTablaUsuarios">
		<div class="row">
			<div class="col-md-12">
				<p:outputPanel id="panelTblUsuarios">
					<p:dataTable var="usuario" id="tblUsuarios"
						value="#{adminUsuariosBean.listPersonas}"
						widgetVar="usuariosTabla"
						filteredValue="#{adminUsuariosBean.listPersonasFiltradas}"
						rowIndexVar="index" sortMode="multiple"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						currentPageReportTemplate="Registros {startRecord} a {endRecord} de {totalRecords}, Página {currentPage} de {totalPages}"
						rowsPerPageTemplate="25,50,75,100"
						emptyMessage="#{msj_commons.no_registros}" paginator="true"
						paginatorPosition="bottom" rows="25"
						style="height: 10px; margin-bottom:20px;font-size:12px;"
						styleClass="tblUsuariosClass">
						<f:facet name="header">
          					#{msj_commons.usuarios_sistema}
       					</f:facet>
						<p:column headerText="#{msj_commons.primer_nombre}"
							toggleable="false" filterBy="#{usuario.primerNombre}"
							filterMatchMode="contains" filterStyleClass="cajaFiltroBusqueda"
							sortBy="#{usuario.primerNombre}" styleClass="centrado">
							<h:outputText value="#{usuario.primerNombre}"
								styleClass="letraAzulOscuroRuncode" />
						</p:column>

						<p:column headerText="#{msj_commons.primer_apellido}"
							toggleable="false" filterBy="#{usuario.primerApellido}"
							filterMatchMode="contains" filterStyleClass="cajaFiltroBusqueda"
							sortBy="#{usuario.primerApellido}" styleClass="centrado">
							<h:outputText value="#{usuario.primerApellido}"
								styleClass="letraAzulOscuroRuncode" />
						</p:column>

						<p:column headerText="#{msj_commons.nombre_usuario}"
							toggleable="false" filterBy="#{usuario.usuario.nomUsuario}"
							filterMatchMode="contains" filterStyleClass="cajaFiltroBusqueda"
							sortBy="#{usuario.usuario.nomUsuario}" styleClass="centrado">
							<h:outputText value="#{usuario.usuario.nomUsuario}"
								styleClass="letraAzulOscuroRuncode" />
						</p:column>
						<p:column headerText="#{msj_commons.correo_electronico}"
							toggleable="false" filterBy="#{usuario.correo}"
							filterMatchMode="contains" filterStyleClass="cajaFiltroBusqueda"
							sortBy="#{usuario.correo}" styleClass="centrado">
							<h:outputText value="#{usuario.correo}"
								styleClass="letraAzulOscuroRuncode" />
						</p:column>

						<p:column headerText="#{msj_commons.fecha_registro}"
							toggleable="false" filterBy="#{usuario.usuario.fechaRegistro}"
							filterMatchMode="contains" filterStyleClass="cajaFiltroBusqueda"
							sortBy="#{usuario.usuario.fechaRegistro}" styleClass="centrado">
							<h:outputText value="#{usuario.usuario.fechaRegistro}"
								styleClass="letraAzulOscuroRuncode">
								<f:convertDateTime pattern="dd-MM-yyyy" />
							</h:outputText>
						</p:column>

						<p:column headerText="#{msj_commons.fecha_ultimo_ingreso}"
							toggleable="false"
							filterBy="#{usuario.usuario.fechaUltimoIngreso}"
							filterMatchMode="contains" filterStyleClass="cajaFiltroBusqueda"
							sortBy="#{usuario.usuario.fechaUltimoIngreso}"
							styleClass="centrado">
							<h:outputText value="#{usuario.usuario.fechaUltimoIngreso}"
								styleClass="letraAzulOscuroRuncode">
								<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss a" />
							</h:outputText>
						</p:column>

						<p:column headerText="#{msj_commons.estado_cuenta}"
							toggleable="false" filterBy="#{usuario.usuario.estadoCuenta}"
							filterStyleClass="cajaFiltroBusqueda" filterMatchMode="contains"
							sortBy="#{usuario.usuario.estadoCuenta}" styleClass="centrado">
							<h:outputText
								value="#{usuario.usuario.estadoCuenta eq true ? 'Activa' : 'Inactiva' }"
								styleClass="letraAzulOscuroRuncode" />
						</p:column>

						<p:column styleClass="centrado" exportable="false"
							toggleable="false" headerText="#{msj_commons.acciones}">
							<p:commandButton icon="ui-icon-pencil"
								action="#{adminUsuariosBean.editarUsuario(usuario)}"
								title="#{msj_commons.editar_usuario}"
								styleClass="btnEnPreparacion">
								<f:param name="nomUsuario" value="#{usuario.usuario.nomUsuario}" />
							</p:commandButton>
							<ui:fragment rendered="#{usuario.usuario.estadoCuenta}">
								<p:commandButton icon="ui-icon-unlocked"
									title="#{msj_commons.bloquear_cuenta}"
									oncomplete="ocultarFiltroBusqueda();"
									action="#{adminUsuariosBean.bloquearCuentaUsuario(usuario)}"
									styleClass="btnEnPreparacion">
									<p:confirm header="#{msj_commons.confirmar_cambios}"
										message="#{msj_commons.confirmar_bloquear_cuenta}"
										icon="ui-icon-alert" />
								</p:commandButton>
							</ui:fragment>
							<ui:fragment rendered="#{not usuario.usuario.estadoCuenta}">
								<p:commandButton icon="ui-icon-locked"
									title="#{msj_commons.desbloquear_cuenta}"
									action="#{adminUsuariosBean.desbloquearCuentaUsuario(usuario)}"
									oncomplete="ocultarFiltroBusqueda();"
									styleClass="btnEnPreparacion">
									<p:confirm header="#{msj_commons.confirmar_cambios}"
										message="#{msj_commons.confirmar_desbloquear_cuenta}"
										icon="ui-icon-alert" />
								</p:commandButton>
							</ui:fragment>
						</p:column>

						<f:facet name="footer">
							<p:spacer height="30" />
							<p:outputPanel style="float:right">
								<!-- 								<p:outputLabel value="#{msj_commons.exportar_datos}" /> -->
								<!-- 								<h:commandLink> -->
								<!-- 									<p:graphicImage id="excelExport" library="neon" -->
								<!-- 										name="img/excel.png" width="24" alt="Excel" /> -->
								<!-- 									<p:tooltip for="excelExport" showEffect="blind" -->
								<!-- 										hideEffect="explode" value="Excel" /> -->
								<!-- 									<p:dataExporter type="xls" target="tblUsuarios" -->
								<!-- 										fileName="#{msj_commons.informe_usuarios_sistema}" -->
								<!-- 										encoding="ISO-8859-1" /> -->
								<!-- 								</h:commandLink> -->
							</p:outputPanel>
							<p:outputPanel style="float:left">
								<p:outputLabel value="#{msj_commons.buscar_registros}" />
								<p:inputText id="globalFilter"
									styleClass="cajaFiltroBusquedaGlobal"
									onkeypress="if (event.keyCode == 13) {PF('usuariosTabla').filter(); return false; }"
									placeholder="#{msj_commons.ingrese_busqueda}" />
								<p:commandButton id="limpiarFiltros" type="button"
									onclick="limpiarFiltrosBusquedaDataTable('usuariosTabla')"
									value="#{msj_commons.limpiar_filtros}"
									style="float:right;font-weight: bold;margin-left:4px;"
									icon="ui-icon-trash" />
							</p:outputPanel>
						</f:facet>
					</p:dataTable>
				</p:outputPanel>
			</div>
		</div>
	</h:form>
</ui:composition>
</html>