.negrita {
	font-weight: bold;
}

.carousel {
	height: 60%;
	background-color: #CCCCCC;
}

.fill {
	width: 50%;
	height: 50%;
	background-position: center;
	background-size: cover;
}

.ui-growl {
	position: fixed !important;
	right: 20px !important;
	top: 60px !important;
	width: 301px !important;
	z-index: 1009 !important;
}

.ui-accordion .ui-accordion-header a {
	font-style: inherit !important;
	background-repeat: repeat-x !important;
	color: #ffffff !important;
	border: 2px !important;
	border-radius: 5px !important;
	height: 40px !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	background-color: #454A54 !important;
	/*Estilo en azul 
	 background: none repeat scroll 0 0 #346B7F !important;
	*/
	/*Estilo en gris
	 background: none repeat scroll 0 0 #555555 !important;	
	 */
	/*Estilo en negro
	 background-image: linear-gradient(to bottom, #3C3C3C 0%, #222222 50%) !important;
	 */
}

.ui-accordion .ui-accordion-header.ui-state-default {
	font-style: inherit !important;
	background-repeat: repeat-x !important;
	color: #ffffff !important;
	border: 2px !important;
	border-radius: 5px !important;
	height: 40px !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	background-color: #454A54 !important;
}

.ui-datatable-odd {
	background: none repeat scroll 0 0 #F2F5F9 !important;
}

.ui-accordion .ui-accordion-header.ui-state-active {
	font-style: inherit !important;
	background-repeat: repeat-x !important;
	color: #ffffff !important;
	border: 2px !important;
	border-radius: 5px !important;
	height: 40px !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	background-color: #2A3F54 !important;
}

.ui-tabs .ui-tabs-nav.ui-widget-header li.ui-state-active {
	color: #2A3F54 !important;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
	padding: 0;
}

/**/
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
}

.ui-datatable.borderless thead th, .ui-datatable.borderless tbody,
	.ui-datatable.borderless tbody tr, .ui-datatable.borderless tbody td {
	border-style: none !important;
}

.inputTextSmall {
	width: 35px !important;
}

.ui-widget-header {
	background-color: #454A54 !important;
	color: white;
}

.facturaVencida {
	background-color: #b94a48 !important;
	color: white;
}

.azulClaroEEBP {
	background-color: #454A54 !important;
}

.azulOscuroEEBP {
	background-color: #2A3F54 !important;
}

.verdeClaroEEBP {
	background-color: #0bb4ff !important;
}

.colorBlancoLetraEEBP {
	color: white;
}

.ui-panelgrid .ui-panelgrid-cell {
	border-color: #2A3F54 !important;
}

.withoutBackground {
	background-color: white !important;
}

.ui-tooltip {
	border: 1px solid #2A3F54 !important;
	color: white !important;
	background: #454A54 !important;
}

blockquote {
	border-color: #454A54;
	border-left: 5px solid #454A54;
	border-style: solid;
	border-width: 1px 1px 1px 5px;
	margin: 0 0 20px;
	padding: 5px 20px;
}

.letraNegra {
	color: black;
}

.bordeEspecialCasillas {
	border-style: solid !important;
	border-width: 3px !important;
	border-color: #2A3F54 !important;
	background-color: #454A54 !important;
	color: white !important;
}

/* Div Gif Procesando Informacion*/
.divProcensandoInformacion {
	float: right;
	font-size: 9px;
}

.imgCentrada {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.ui-tabs .ui-tabs-nav.ui-widget-header li {
	background: none repeat scroll 0 0 #2A3F54 !important;
}

.ui-tabs .ui-tabs-nav.ui-widget-header li.ui-state-active {
	background-color: #FFFFFF !important;
	border-width: 1px !important;
	color: #555555 !important;
	cursor: default !important;
}

.ui-tabs .ui-tabs-nav.ui-widget-header li {
	background: none repeat scroll 0 0 #2A3F54 !important;
	border: 1px solid #2A3F54 !important;
	border-bottom: none !important;
	border-radius: 0 0 0 0 !important;
	border-radius: 5px 5px 1px 1px !important;
	box-shadow: none !important;
	line-height: 18px !important;
}

.ui-tabs.ui-tabs-bottom {
	border-top: 0px solid #DDDDDD !important;
}

.ui-tabs.ui-tabs-top>.ui-tabs-nav li {
	border-bottom: 0 none !important;
	top: 2px !important;
}

.ui-tabs.ui-tabs-top {
	border-bottom: 0px solid #DDDDDD !important;
}

.borderPanel {
	background: none repeat 0 0 #FFFFFF !important;
	border: 1px solid #454A54 !important;
	color: #333333 !important;
	border-radius: 4px 4px 4px 4px !important;
}

.ui-tabs .ui-tabs-nav.ui-widget-header {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	border-radius: 1px 1px 1px 1px !important;
}

.ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header {
	border-bottom: 1px solid #454A54 !important;
}

.boderPanel {
	border: 1px solid #454A54 !important;
	border-radius: 5px 5px 5px 5px !important;
}

.textoSinSombra {
	text-shadow: 0 0px 0px !important;
}

.negritaAzuleebp {
	font-weight: bold;
	color: #2A3F54;
}

.negritaVerdeEEBP {
	font-weight: bold;
	color: #0bb4ff;
}

.letraAzulOscuroRuncode {
	color: #2A3F54;
}

.letraNormal {
	font-size: 110% !important;
}

.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next,
	.ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first,
	.ui-paginator .ui-paginator-prev {
	cursor: pointer;
}

.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages,
	.ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last,
	.ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev,
	.ui-paginator .ui-paginator-current {
	display: inline-block;
	margin-left: 1px;
	margin-right: 1px;
	outline: medium none;
	padding: 2px 6px;
	text-decoration: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
	{
	background-color: transparent !important;
	background-image: none;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px
		rgba(0, 0, 0, 0.05);
	color: #FFFFFF !important;
	outline: 0 none;
}

.ui-state-default .ui-icon {
	background-color: #0bb4ff !important;
	border-radius: 10px 10px 10px 10px !important;
}

.ui-state-active .ui-icon {
	background-color: #0bb4ff !important;
	border-radius: 10px 10px 10px 10px !important;
}

.ui-panelmenu .ui-panelmenu-header a {
	color: #0088CC !important;
	text-shadow: 0 0px 0px !important;
	font-size: 105% !important;
}

.ui-timepicker-table td a {
	cursor: pointer;
	display: block;
	padding: 0.2em 0.3em 0.2em 0.5em;
	text-align: right;
	text-decoration: none;
	width: 30px !important;
}

.periods {
	color: #2A3F54 !important;
	font-weight: bold;
}

.ui-datatable table {
	table-layout: auto !important;
}

.ui-column-title {
	font-weight: bold !important;
	color: #2A3F54 !important;
}

.ui-state-active .ui-icon .ui-column-title {
	background-color: #0bb4ff !important;
	border-radius: 10px 10px 10px 10px !important;
}

address {
	display: block !important;
	font-size: 13px !important;
	font-style: normal !important;
	line-height: 1.42857 !important;
	margin-bottom: -32px !important;
	margin-right: 37px !important;
	margin-top: 26px !important;
}

.ui-icon-circle-triangle-e {
	background-color: #0bb4ff !important;
	background-position: -48px -192px;
}

.ui-icon-circle-triangle-s {
	background-color: #0bb4ff !important;
	background-position: -64px -192px;
}

.ui-widget-overlay {
	background: none repeat scroll 0 0 #2A3F54 !important;
	opacity: 0.4 !important;
}

.ui-datatable .ui-column-filter {
	display: block;
	margin: auto;
	width: 80px !important;
}

.preformatted {
	white-space: pre-wrap;
}

.ui-widget-overlay {
	background: #2d5972 none repeat scroll 0 0 !important;
	opacity: 0.4 !important;
}

.ui-widget-overlay {
	background: #000000 none repeat scroll 0 0;
	opacity: 0.8;
}

.logo-emevasi {
	width: 32%;
	max-width: 100%;
	height: auto;
}