<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/templates/basico.xhtml">
	<ui:define name="titulo">#{msj_commons.ingreso_usuarios}</ui:define>
	<ui:define name="contenido_principal">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{userBean.redirectLoggedInUsers}" />
		</f:metadata>
		<div class="login-container">
			<div class="login-header login-caret">
				<div class="login-content">
					<a href="#" class="logo"> <h:graphicImage
							styleClass="logo-emevasi" alt="#{msj_commons.sub_titulo}"
							library="neon" name="img/runcode.png" />
					</a>
					<p class="description">
						<a href="http://emevasi.com" target="_blank" style="color: white;font-weight: bold;">#{msj_commons.sub_titulo}</a>
					</p>
					<!-- progress bar indicator -->
					<div class="login-progressbar-indicator">
						<h3>43%</h3>
						<span>#{msj_commons.en_proceso}</span>
					</div>
				</div>
			</div>
			<div class="login-progressbar">
				<div></div>
			</div>
			<div class="login-form">
				<div class="login-content">
					<div class="form-login-error">
						<h3>Invalid login</h3>
						<p>
							Enter <strong>demo</strong>/<strong>demo</strong> as login and
							password.
						</p>
					</div>
					<h:form method="post" role="form" id="form_login">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="entypo-user"></i>
								</div>
								<p:inputText id="nomUsuario" value="#{loginCredentials.userId}"
									required="true" placeholder="#{msj_commons.nombre_usuario}"
									requiredMessage="#{msj_commons.obligatorio_nomusuario}"
									styleClass="form-control"></p:inputText>
							</div>
							<p:message for="nomUsuario" display="text"
								styleClass="alertCustom" />
						</div>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="entypo-key"></i>
								</div>
								<p:inputText id="contrasena"
									value="#{loginCredentials.password}" required="true"
									type="password" placeholder="#{msj_commons.contrasena}"
									requiredMessage="#{msj_commons.obligatorio_contrasena}"
									styleClass="form-control"></p:inputText>
							</div>
							<p:message for="contrasena" display="text"
								styleClass="alertCustom" />
						</div>
						<div class="form-group">
							<p:commandButton value="#{msj_commons.ingresar}"
								styleClass="btn btn-primary btn-block btn-login"
								action="#{userBean.login}" update="@form" />
						</div>
					</h:form>
					<div class="login-bottom-links" style="font-size: 13px;">
						&copy; #{msj_commons.year} <strong> #{msj_commons.title} </strong> <span
							class="badge badge-success"> #{msj_commons.nro_version}</span> <br />
						<a href="http://runcode.co" target="_blank">#{msj_commons.marca_runcode}</a>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>