<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/templates/neon.xhtml">
	<ui:define name="titulo">#{msj_commons.configuracion_app}</ui:define>
	<ui:define name="contenido_principal">
		<h3>
			#{msj_commons.admin_sistema} <small>#{msj_commons.title}</small>
		</h3>
		<br />
	</ui:define>
</ui:composition>
</html>